

.u-center-text {
    text-align: center;
}
.u-margin-bottom-large {
    margin-bottom: 40px;
}

.u-margin-bottom-semi {
    margin-bottom: 40px;
}

.u-margin-bottom-semi2 {
    margin-bottom: 40px;
}

.u-margin-bottom-medium {
    margin-bottom: 30px;
}

.u-margin-bottom-small {
    margin-bottom: 20px;
}

.u-margin-bottom-banner-header {
    margin-bottom: 20px;
}


.u-margin-top-small {
    margin-top: 20px;
}

.u-margin-top-small2 {
    margin-top: 40px;
}

.focus-btn:focus {
    outline: none !important;
    text-transform: none !important;
  }

  .focus-btn {
    outline: none !important;
    text-transform: none !important;
  }