$color-primary : #ea2135;
$color-primary-light: #ea2135;
$color-primary-dark1: #ad0818;
$color-primary-dark: #6e0510;

$color-circles: #ffdce0;


$grid-width: 80%;
$gutter-v: 20px;
$gutter-h: 30px;

$banner-header-text-size: 45px;
$banner-sub-text-size: 15px;

$form-header-text-size: 40px;
$form-sub-text-size: 30px;
